/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: white;
  background: linear-gradient(-45deg, #080808, #000c1d, #000000, #aeaeae);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  min-height: 100vh;
  overflow-x: hidden; /* Prevents horizontal scroll due to background animation */
}

@keyframes gradient {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 100% 50%;  
  }
  100% {
    background-position: 10% 50%;
  }
}

/* Navigation bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  z-index: 1000;
  transition: top 0.2s ease-in-out;
}

.navbar.scrolled {
  top: -100px;
}

/* Center logo styling */
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.logo img {
  width: 120px;
  position: relative;
  top: 10px;
}

/* Navigation links with left and right alignment */
.nav-links {
  list-style: none;
  display: flex;
  flex-grow: 1;
  max-width: 900px;
  justify-content: space-between;
  margin: 0 auto ;
}

.nav-links-left,
.nav-links-right {
  display: flex;
  align-items: center;
}

.nav-links-left {
  margin-right: auto;
  gap: 100px; /* Adjust spacing between left links */
}

.nav-links-right {
  margin-left: auto;
  gap: 100px; /* Adjust spacing between right links */
}

/* Link styling */
.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
  padding: 5px 0;
}

/* Hover effect for links */
.nav-links a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  left: 0;
  bottom: -5px;
  animation: underline 0.3s ease-in-out forwards;
}

/* Underline animation */
@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  color: #fff;
}

h1 {
  font-size: 48px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

p {
  font-size: 18px;
  color: #ddd;
}

#timer {
  margin-top: 20px;
  font-size: 24px;
  color: #ff6347;
}
